.container {
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  align-items: center;
}
.text {
  margin-right: 30px;
}
.login {
  margin: 25px 0;
}
.btn {
  align-self: center;
  margin: 25px 0;
}
.textDescript {
  color: grey;
  font-weight: 300;
}

.pwrd1 {
  margin: 25px 0;
}
